
/*!*mobile devices*!*/
/*@media screen and (max-width: 560px){*/
/* #primaryStats {*/
/*   background-image: url("../img/dnd1.jpg");*/
/*   background-size: cover;*/
/*   background-position: center; }*/
/*}*/

.capText{
    color: white;
    font-size: 40px;
    text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;
}

.classTitle{
}

.classList{
    list-style: none;
}