
/*!*mobile devices*!*/
/*@media screen and (max-width: 560px){*/
/* #primaryStats {*/
/*   background-image: url("../img/dnd1.jpg");*/
/*   background-size: cover;*/
/*   background-position: center; }*/
/*}*/

.capText{
    color: white;
    font-size: 40px;
    text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;
}

.classTitle{
}

/*BUTTONS*/
.btn{
  text-align: center;
  display: inline-block;
  margin:5px;
  font-weight: bold;
  padding: 10px 0 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em gray;
  cursor: pointer;

}

/*main tab images*/
#main-left {
  background-image: url("../img/main-left-image.png");
}