
/*!*mobile devices*!*/
/*@media screen and (max-width: 560px){*/
/* #primaryStats {*/
/*   background-image: url("../img/dnd1.jpg");*/
/*   background-size: cover;*/
/*   background-position: center; }*/
/*}*/

.capText{
    color: white;
    font-size: 40px;
    text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;
}



/*main tab images*/
#main-left {
  background-image: url("../img/main-left-image.png");
  background-repeat: no-repeat;
}
.classList{
    list-style: none;
}